.nosotros_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100vw; /* Asegurar que ocupa todo el ancho */
    text-align: center;
    padding: 20px;
    margin: 0 auto; 
}

  
  .nosotros_titulo {
    font-size: 28px;
    font-weight: bold;
    color: #f8f9fa;
    margin-bottom: 20px;
  }
  
  .nosotros_tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%; /* Ajustar el ancho */
    max-width: 800px; /* Evitar que sea demasiado ancho */
    margin: 0 auto; /* Centrar */
  }
  
  .nosotros_card {
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .nosotros_subtitulo {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .nosotros_card p,
  .nosotros_card ul {
    color: #333;
    font-size: 16px;
  }
  